*{
    box-sizing: border-box;
    padding:0;
    margin:0;

}
body{
    background-color: aqua;
}
header{
    width:100%;
    top:0;
    position: sticky;
    z-index: 10;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.navbar{
   
    background-color: black;
    text-align: center;
    padding:15px;
    position: sticky;
    
}
.nav-icon img{
    width:200px;
    height:120px;
    padding:10px;
    border: 5px solid gray;
    border-radius: 10px;
    float:left;
}
.nav-menu { 
    padding:15px;
    display:flex;
    flex-direction: row;
    text-transform: uppercase;
    justify-content: flex-end;
    margin:3px auto;
    
}
.nav-menu a{
    color:white;
    padding:18px;
    display:block;
    border-radius: 20px;
    font-size: 1em;
    margin: 1px auto;
    
}
.details h1, p{
    margin-top:10%;
}
.image img{
    height:500px;
    width:100%;
    border: 2px solid rgb(214, 91, 91);
    border-radius: 5px;
}
.bimg img{
    height:450px;
    width:100%;
     border: 1px solid rgb(237, 218, 218);
     border-radius: 7px;
}

.bdes p{
    font-size: 2.1em;
    text-align: justify;
    padding: 12px;
    background-color: rgb(186, 160, 125);
    border: 1px solid white;
    border-radius: 5px;
    margin-top:5%;

}